<html>
	<head>
        <title>Request Example</title>
		
        <style>
            body
            {
                text-align: center;
                margin-top: 250px;
                background-color: black;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: larger; 
            }
		
            .h4
            {
                width: 80px;
                font-size: xx-large;
                font-weight: bold;
            }
		
        </style>
		
	</head>
	<body>
		<form method="POST" action="/temperature">
			<h4>Zip Code : </h4>
			<input type="text" name="zip">
			<input type="submit">
		</form>
	</body>
</html>
